.section-1{
    min-width: 100%;
    max-height: 100vh;
    overflow: hidden;
    z-index: 999;
    .carrossel{
        display: flex;
        flex-direction: row;
        transition: transform .8s ease-in-out;
        transform: translateX(0);
        width: 100%;
        img{
            width: 100%;
        }
    }
}