.section-1{
    min-width: 100%;
    // height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    .carrossel{
        display: flex;
        flex-direction: row;
        transition: transform .8s ease-in-out;
        transform: translateX(0);
        width: 100%;
        img{
            width: 100%;
        }
    }
    .controls{
        position: absolute;
        bottom: 0;
        margin-bottom: 100px;
        width: 100%;

        .controls-itens{
            width: 25%;
            margin: auto;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                a{
                    li{
                        i{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}